#home-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.welcome-headline {
    font-family: 'jurassic_park' , Arial, sans-serif; 
    font-size: 80px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 50px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.game-button {
    border: 4px solid red;
    border-radius: 20px;
    margin: 20px;
    height: 50px;
    width: auto;
    font-family: 'jurassic_park';
    font-size: 45px;
}

.game-button:focus {
    outline: none;
}

.game-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.game-button:disabled {
    background-color: white;
    color: lightgray;
    cursor: default;
}

.route {
    text-decoration: none;
    color: black;
}

.route:hover {
    color: white;
}

#login-button {
    width: 100px;
}

#tyranno-logo {
    width: 600px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}